<h1>Welcome to AQI Viewer 💨</h1>
<p>Please login or sign up below</p>
<%# TODO: Register Link %>
<%= link_to "Sign Up", new_user_path %>
<%= link_to "Login", new_session_path %>
<%# TODO: Sign In Link %>
